# SCITOOLS DEFAULT CONFIGURATION FILE
# Add in the default variable that you want to be set for scitools
# This file should be saved as ".scitools.cfg" in your home directory
# For advanced users, a "[anything].cfg" file can be specified as the
# first argument in a scitools call.
#
# FILE AND DIRECTORY LOCATIONS
# Directory to look for fastq files from a sequencing run (pre-SCI processing)
fastq_input_directory=/home/groups/oroaklab/fastq
# Directory to store SCI-formatted and barcode-matched fastq files
SCI_fastq_directory=/home/groups/oroaklab/demultiplex
# SCI Index file full path
SCI_index_file=/home/groups/oroaklab/src/scitools/scitools-dev/SCI_Indexes.txt
#
# REFERENCE GENOME LOCATIONS
# Note: scitools looks for the following files:
#  [ref.fa].[bwa_index]
#  [ref.fa].fai
#  [ref].refGene.txt (for plot-reads)
# To enable "hg38", "hg19", and "mm10" shorcut usage, ensure all files are present
# To add in a new default, it must be in the format [shortcut name]_ref and then
# the path to the fasta file where other associated files are present.
hg19_ref=/home/groups/oroaklab/refs/hg19/hg19.fa
hg38_ref=/home/groups/oroaklab/refs/hg38/hg38.fa
mm10_ref=/home/groups/oroaklab/refs/mm10/mm10.fa
#
# SOFTWARE DEFAULTS
# Default is to call the executable name
# Specify the command-line-callable command here if it differs
gzip=gzip
zcat=zcat
bwa=bwa
samtools=samtools
scitools=scitools
macs2=macs2
bedtools=bedtools
Rscript=Rscript
Pscript=python