## SCITOOLS DEFAULT CONFIGURATION FILE
## Add in the default variable that you want to be set for scitools
## This file should be saved as ".scitools.cfg" in your home directory
## For advanced users, a "[anything].cfg" file can be specified as the
## first argument in a scitools call.
##
## FASTQ DEFAULT LOCATIONS (optional shortcuts)
## Directory to look for fastq files from a sequencing run (pre-SCI processing)
#fastq_input_directory=/path/to/fastq/input
##
## Directory to store SCI-formatted and barcode-matched fastq files
#SCI_fastq_directory=/path/to/fastq/output
##
##
## INDEX AND MODE LOCATIONS (to override files included with scitools)
## Default location is for the files present in the scitools directory, to
## specify specific alternative locations, un-comment the variables below
##
## Directory where each file is an index.txt file
#index_directory=/path/to/index/files/if/different/from/scitools/directory
##
## SCI Index file full path
#SCI_index_file=/path/to/index/file/if/different/from/scitools/directory
##
## REFERENCE GENOME LOCATIONS (optional shortcuts)
## Note: scitools looks for the following files:
##  [ref.fa].[bwa_index]
##  [ref.fa].fai
##  [ref].refGene.txt (for plot-reads)
## To enable "hg38", "hg19", and "mm10" shorcut usage, ensure all files are present
## To add in a new default, it must be in the format [shortcut name]_ref and then
## the path to the fasta file where other associated files are present.
#hg19_ref=/path/to/ref/fasta
#hg38_ref=/path/to/ref/fasta
#mm10_ref=/path/to/ref/fasta
## Bismark Refs
#hg19b_ref=/path/to/bismark/ref/folder
#hg38b_ref=/path/to/bismark/ref/folder
#mm10b_ref=/path/to/bismark/ref/folder
##
## SOFTWARE DEFAULTS
## Default is to call the executable name
## Specify the command-line-callable command here if it differs
gzip=gzip
zcat=zcat
bwa=bwa
samtools=samtools
scitools=scitools
macs2=macs2
bedtools=bedtools
Rscript=Rscript
Pscript=python
bowtie2=bowtie2
bismark=bismark